--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

--
-- Name: balance; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.balance (
    account numeric(38,2) NOT NULL,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    currency character varying(255) NOT NULL,
    CONSTRAINT balance_currency_check CHECK (((currency)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[])))
);


ALTER TABLE public.balance OWNER TO baykul_user;

--
-- Name: balance_history; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.balance_history (
    amount numeric(38,2),
    result_account numeric(38,2) NOT NULL,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    balance_id uuid NOT NULL,
    id uuid NOT NULL,
    currency character varying(255) NOT NULL,
    description character varying(255),
    operation_type character varying(255) NOT NULL,
    result_currency character varying(255) NOT NULL,
    CONSTRAINT balance_history_currency_check CHECK (((currency)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[]))),
    CONSTRAINT balance_history_operation_type_check CHECK (((operation_type)::text = ANY ((ARRAY['REPLENISHMENT'::character varying, 'WITHDRAWAL'::character varying, 'PAYMENT'::character varying])::text[]))),
    CONSTRAINT balance_history_result_currency_check CHECK (((result_currency)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[])))
);


ALTER TABLE public.balance_history OWNER TO baykul_user;

--
-- Name: bills; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.bills (
    created_ts timestamp(6) without time zone,
    number bigint NOT NULL,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT bills_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'APPLIED'::character varying])::text[])))
);


ALTER TABLE public.bills OWNER TO baykul_user;

--
-- Name: cart_products; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.cart_products (
    parts_count integer NOT NULL,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    cart_id uuid NOT NULL,
    id uuid NOT NULL,
    part_id uuid NOT NULL
);


ALTER TABLE public.cart_products OWNER TO baykul_user;

--
-- Name: carts; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.carts (
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.carts OWNER TO baykul_user;

--
-- Name: currency_exchange; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.currency_exchange (
    currency_from character varying(3) NOT NULL,
    currency_to character varying(3) NOT NULL,
    rate numeric(38,2) NOT NULL,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    CONSTRAINT currency_exchange_currency_from_check CHECK (((currency_from)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[]))),
    CONSTRAINT currency_exchange_currency_to_check CHECK (((currency_to)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[])))
);


ALTER TABLE public.currency_exchange OWNER TO baykul_user;

--
-- Name: delivery_cost_config; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.delivery_cost_config (
    minimum_sum numeric(38,2),
    value numeric(38,2),
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    markup_type character varying(255),
    CONSTRAINT delivery_cost_config_markup_type_check CHECK (((markup_type)::text = ANY ((ARRAY['PERCENTAGE'::character varying, 'SUM'::character varying])::text[])))
);


ALTER TABLE public.delivery_cost_config OWNER TO baykul_user;

--
-- Name: order_products; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.order_products (
    parts_count integer NOT NULL,
    price numeric(38,2) NOT NULL,
    created_ts timestamp(6) without time zone,
    number bigint,
    updated_ts timestamp(6) without time zone,
    bill_id uuid,
    id uuid NOT NULL,
    order_id uuid NOT NULL,
    part_id uuid NOT NULL,
    currency character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT order_products_currency_check CHECK (((currency)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[]))),
    CONSTRAINT order_products_status_check CHECK (((status)::text = ANY ((ARRAY['CREATED'::character varying, 'TO_ORDER'::character varying, 'ON_WAY'::character varying, 'ARRIVED'::character varying, 'IN_WAREHOUSE'::character varying, 'SHIPPED'::character varying, 'DELIVERED'::character varying, 'RETURNED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.order_products OWNER TO baykul_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.orders (
    paid boolean NOT NULL,
    created_ts timestamp(6) without time zone,
    number bigint NOT NULL,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY ((ARRAY['CONFIRMATION_WAITING'::character varying, 'PAYMENT_WAITING'::character varying, 'ORDERED'::character varying, 'ON_WAY'::character varying, 'IN_WAREHOUSE'::character varying, 'READY_FOR_PICKUP'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO baykul_user;

--
-- Name: parts; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.parts (
    min_count integer NOT NULL,
    price numeric(38,2) NOT NULL,
    return_part numeric(38,2),
    storage_count integer,
    weight double precision,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    article character varying(50) NOT NULL,
    brand character varying(50) NOT NULL,
    currency character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    CONSTRAINT parts_currency_check CHECK (((currency)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[])))
);


ALTER TABLE public.parts OWNER TO baykul_user;

--
-- Name: price_config; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.price_config (
    markup_percentage numeric(38,2) NOT NULL,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    currency character varying(255) NOT NULL,
    CONSTRAINT price_config_currency_check CHECK (((currency)::text = ANY ((ARRAY['AFN'::character varying, 'EUR'::character varying, 'ALL'::character varying, 'DZD'::character varying, 'USD'::character varying, 'AED'::character varying, 'ARS'::character varying, 'AMD'::character varying, 'AWG'::character varying, 'AUD'::character varying, 'AZN'::character varying, 'BSD'::character varying, 'BHD'::character varying, 'BDT'::character varying, 'BBD'::character varying, 'BYN'::character varying, 'BZD'::character varying, 'XOF'::character varying, 'BMD'::character varying, 'BOB'::character varying, 'BOV'::character varying, 'BAM'::character varying, 'BWP'::character varying, 'NOK'::character varying, 'BRL'::character varying, 'BND'::character varying, 'BGN'::character varying, 'BIF'::character varying, 'CVE'::character varying, 'KHR'::character varying, 'XAF'::character varying, 'CAD'::character varying, 'KYD'::character varying, 'CLP'::character varying, 'CLF'::character varying, 'CNY'::character varying, 'COP'::character varying, 'COU'::character varying, 'KMF'::character varying, 'CDF'::character varying, 'NZD'::character varying, 'CRC'::character varying, 'HRK'::character varying, 'CUP'::character varying, 'XCG'::character varying, 'CYP'::character varying, 'CZK'::character varying, 'DKK'::character varying, 'DJF'::character varying, 'XCD'::character varying, 'DOP'::character varying, 'EGP'::character varying, 'SVC'::character varying, 'ERN'::character varying, 'ETB'::character varying, 'FKP'::character varying, 'FJD'::character varying, 'XPF'::character varying, 'GMD'::character varying, 'GEL'::character varying, 'GHS'::character varying, 'GIP'::character varying, 'GTQ'::character varying, 'GBP'::character varying, 'GNF'::character varying, 'GYD'::character varying, 'HTG'::character varying, 'HNL'::character varying, 'HKD'::character varying, 'HUF'::character varying, 'ISK'::character varying, 'INR'::character varying, 'IDR'::character varying, 'XDR'::character varying, 'IRR'::character varying, 'IQD'::character varying, 'ILS'::character varying, 'JMD'::character varying, 'JPY'::character varying, 'JOD'::character varying, 'KZT'::character varying, 'KES'::character varying, 'KPW'::character varying, 'KRW'::character varying, 'KWD'::character varying, 'KGS'::character varying, 'LAK'::character varying, 'LVL'::character varying, 'LBP'::character varying, 'LSL'::character varying, 'ZAR'::character varying, 'LRD'::character varying, 'LYD'::character varying, 'CHF'::character varying, 'LTL'::character varying, 'MOP'::character varying, 'MKD'::character varying, 'MGA'::character varying, 'MWK'::character varying, 'MYR'::character varying, 'MVR'::character varying, 'MRU'::character varying, 'MUR'::character varying, 'XUA'::character varying, 'MXN'::character varying, 'MXV'::character varying, 'MDL'::character varying, 'MNT'::character varying, 'MAD'::character varying, 'MZN'::character varying, 'MMK'::character varying, 'NAD'::character varying, 'NPR'::character varying, 'ANG'::character varying, 'NIO'::character varying, 'NGN'::character varying, 'OMR'::character varying, 'PKR'::character varying, 'PAB'::character varying, 'PGK'::character varying, 'PYG'::character varying, 'PEN'::character varying, 'PHP'::character varying, 'PLN'::character varying, 'QAR'::character varying, 'RON'::character varying, 'RUB'::character varying, 'RWF'::character varying, 'SHP'::character varying, 'WST'::character varying, 'STN'::character varying, 'SAR'::character varying, 'RSD'::character varying, 'SCR'::character varying, 'SLE'::character varying, 'SGD'::character varying, 'XSU'::character varying, 'SBD'::character varying, 'SOS'::character varying, 'SSP'::character varying, 'LKR'::character varying, 'SDG'::character varying, 'SRD'::character varying, 'SEK'::character varying, 'CHE'::character varying, 'CHW'::character varying, 'SYP'::character varying, 'TWD'::character varying, 'TJS'::character varying, 'TZS'::character varying, 'THB'::character varying, 'TOP'::character varying, 'TTD'::character varying, 'TND'::character varying, 'TRY'::character varying, 'TMT'::character varying, 'UGX'::character varying, 'UAH'::character varying, 'UYU'::character varying, 'UYI'::character varying, 'UYW'::character varying, 'UZS'::character varying, 'VUV'::character varying, 'VES'::character varying, 'VED'::character varying, 'VND'::character varying, 'YER'::character varying, 'ZMW'::character varying, 'ZWG'::character varying, 'XBA'::character varying, 'XBB'::character varying, 'XBC'::character varying, 'XBD'::character varying, 'XTS'::character varying, 'XXX'::character varying, 'XAU'::character varying, 'XPD'::character varying, 'XPT'::character varying, 'XAG'::character varying])::text[])))
);


ALTER TABLE public.price_config OWNER TO baykul_user;

--
-- Name: profile; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.profile (
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    name character varying(50),
    patronymic character varying(50),
    surname character varying(50)
);


ALTER TABLE public.profile OWNER TO baykul_user;

--
-- Name: refresh_token; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.refresh_token (
    id uuid NOT NULL,
    user_id uuid,
    ip_address character varying(255),
    name character varying(255),
    user_agent character varying(255)
);


ALTER TABLE public.refresh_token OWNER TO baykul_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: baykul_user
--

CREATE TABLE public.users (
    blocked boolean NOT NULL,
    can_pay_later boolean,
    markup_percentage numeric(38,2) NOT NULL,
    created_ts timestamp(6) without time zone,
    updated_ts timestamp(6) without time zone,
    phone_number character varying(15),
    id uuid NOT NULL,
    login character varying(50) NOT NULL,
    password character varying(1000) NOT NULL,
    email character varying(255),
    role character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['USER'::character varying, 'MANAGER'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO baykul_user;

--
-- Name: balance_history balance_history_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.balance_history
    ADD CONSTRAINT balance_history_pkey PRIMARY KEY (id);


--
-- Name: balance balance_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.balance
    ADD CONSTRAINT balance_pkey PRIMARY KEY (id);


--
-- Name: balance balance_user_id_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.balance
    ADD CONSTRAINT balance_user_id_key UNIQUE (user_id);


--
-- Name: bills bills_number_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT bills_number_key UNIQUE (number);


--
-- Name: bills bills_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT bills_pkey PRIMARY KEY (id);


--
-- Name: cart_products cart_products_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.cart_products
    ADD CONSTRAINT cart_products_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: carts carts_user_id_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key UNIQUE (user_id);


--
-- Name: currency_exchange currency_exchange_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.currency_exchange
    ADD CONSTRAINT currency_exchange_pkey PRIMARY KEY (id);


--
-- Name: delivery_cost_config delivery_cost_config_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.delivery_cost_config
    ADD CONSTRAINT delivery_cost_config_pkey PRIMARY KEY (id);


--
-- Name: order_products order_products_number_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.order_products
    ADD CONSTRAINT order_products_number_key UNIQUE (number);


--
-- Name: order_products order_products_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.order_products
    ADD CONSTRAINT order_products_pkey PRIMARY KEY (id);


--
-- Name: orders orders_number_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_number_key UNIQUE (number);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: parts parts_article_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_article_key UNIQUE (article);


--
-- Name: parts parts_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_pkey PRIMARY KEY (id);


--
-- Name: price_config price_config_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.price_config
    ADD CONSTRAINT price_config_pkey PRIMARY KEY (id);


--
-- Name: profile profile_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT profile_pkey PRIMARY KEY (id);


--
-- Name: profile profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT profile_user_id_key UNIQUE (user_id);


--
-- Name: refresh_token refresh_token_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.refresh_token
    ADD CONSTRAINT refresh_token_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_login_key; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_key UNIQUE (login);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: orders fk32ql8ubntj5uh44ph9659tiih; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk32ql8ubntj5uh44ph9659tiih FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: order_products fkawxpt1ns1sr7al76nvjkv21of; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.order_products
    ADD CONSTRAINT fkawxpt1ns1sr7al76nvjkv21of FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: carts fkb5o626f86h46m4s7ms6ginnop; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT fkb5o626f86h46m4s7ms6ginnop FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: cart_products fkbilp3o9irlsvmbot68kfpthom; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.cart_products
    ADD CONSTRAINT fkbilp3o9irlsvmbot68kfpthom FOREIGN KEY (cart_id) REFERENCES public.carts(id);


--
-- Name: balance_history fkh7q28d940m7fkjxasp9fx4cdn; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.balance_history
    ADD CONSTRAINT fkh7q28d940m7fkjxasp9fx4cdn FOREIGN KEY (balance_id) REFERENCES public.balance(id);


--
-- Name: order_products fkiyfa3dh2f9fytjp6odeex6bob; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.order_products
    ADD CONSTRAINT fkiyfa3dh2f9fytjp6odeex6bob FOREIGN KEY (part_id) REFERENCES public.parts(id);


--
-- Name: refresh_token fkjtx87i0jvq2svedphegvdwcuy; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.refresh_token
    ADD CONSTRAINT fkjtx87i0jvq2svedphegvdwcuy FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: order_products fkm7e9eumndltkqhcin5xo0p40l; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.order_products
    ADD CONSTRAINT fkm7e9eumndltkqhcin5xo0p40l FOREIGN KEY (bill_id) REFERENCES public.bills(id);


--
-- Name: cart_products fknv448u0swqvtoyi9pa2344r20; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.cart_products
    ADD CONSTRAINT fknv448u0swqvtoyi9pa2344r20 FOREIGN KEY (part_id) REFERENCES public.parts(id);


--
-- Name: profile fks14jvsf9tqrcnly0afsv0ngwv; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT fks14jvsf9tqrcnly0afsv0ngwv FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: balance fksdu7qx7cs4vxvi8rf9bgrwrb4; Type: FK CONSTRAINT; Schema: public; Owner: baykul_user
--

ALTER TABLE ONLY public.balance
    ADD CONSTRAINT fksdu7qx7cs4vxvi8rf9bgrwrb4 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

